.player {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;

	&__header {
		background-color: black;
		padding: 10px 20px;
		position: relative;
	}

	&__main {
		flex: 1;
		display: flex;
		overflow: hidden;
		position: relative;

	}

	&__footer {
		padding: 10px;
		background-color: black;
	}

}
