.song-details {
	transition: all 0.3s ease;
	background-color: white;
	border-right: 1px solid #f6f5f3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;

	&__inner {
		width: 300px;
	}

	&__title {
		font-weight: bold;
		margin-top: 10px;
        font-size: 24px;
	}

	&__artist {
	    font-size: 18px;
		min-height: 21px;
	}

	&__filename {
	    font-size: 14px;
        line-height: 20px;
		height: 20px;
	}

	&__cover {
		width: 300px;
		height: 300px;
		border: 1px solid #f6f5f3;
		display: block;
	}
}



